{% extends 'base_entry.html' %}
{% load static %}


<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}" id="color_scheme" rel="stylesheet" >
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
    <div class="text-center" style="margin-top: 150px">
        <h1><b>Вы уверены, что хотите удалить аккаунт?</b></h1>
        <br>
        <h4 style="color: #DA2723">* восстановить аккаунт будет невозможно, вся история покупок
                                                 и программа лояльности будут потеряны навсегда </h4>
    </div>
    <br>
    <form action="{% url 'users:register' %}" method="post" novalidate style="margin-left: auto; margin-right: auto; width: 400px; ">
    {% csrf_token %}
        <div style="display: flex; justify-content: center; margin: 40px 0px 150px 0px">
            <a href="{% url 'users:my_account' %}" class="btn btn-md btn-primary" style="margin-right: 30px;" title="Назад">Назад</a>
            <input formaction="{% url 'users:delete_profile' %}" type="submit" value="Удалить аккаунт" class="btn btn-md btn-danger">
        </div>
    </form>
{% endblock %}
<!-- //Main Container -->