{% extends 'base_entry.html' %}
{% load static %}

<!-- Favicon
============================================ -->
{% block favicon %}
<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
{% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link  href="{% static 'css/theme.css' %}"  rel="stylesheet" id="color_scheme">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
<div class="main-container container">
    <ul class="header-main">
        <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>Подтверждение электронной почты</li>
    </ul>
    <div class="row">
        <br><br><br><br><br><br>
            <br><br><br><br><br><br>
                <div class="text-center">
                    <h2></i>Поздравляем</h2>
                      <h2><p><strong>Ваша учетная запись успешно подтверждена !</strong></p></h2>
                </div>
            <br><br><br><br><br><br>
        <br><br><br><br><br><br>
    </div>
</div>
{% endblock %}
<!-- //Main Container -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
{% endblock %}