{% extends 'base_entry.html' %}
{% load static %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}"  rel="stylesheet" id="color_scheme">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
<div class="main-container container">
    <ul class="header-main">
        <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>Подтверждение электронной почты</li>
    </ul>
    <div class="row">
        <br><br><br><br><br><br>
            <br><br><br><br><br><br>
                <div class="text-center">
                    <div class="alert">
                        {% if messages %}
                            {% for message in messages %}
                                {% if "error" in message.tags %}
                                    <div class="alert-danger">{{ message }}</div>
                                {% endif %}
                                {% if "success" in message.tags %}
                                    <div class="alert-success">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            <br><br><br><br><br><br>
        <br><br><br><br><br><br>
    </div>
</div>
{% endblock %}
<!-- //Main Container -->
