{% extends 'base_entry.html' %}
{% load static %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}"  rel="stylesheet" id="color_scheme">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
<div class="main-container container">
    <ul class="header-main">
        <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>Забыли пароль</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="page-login center-block">
                <div class="account-border ">
                    <br><br><br><br>
                    <br><br><br><br>
                    <div class="row ">
                        <form action="{% url 'users:forgot_password' %}" method="post">
                            <div class="login" style="margin-left: 330px;margin-right: 330px;">
                                <div class="well">
                                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i>Воcстановление пароля</h2>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label" for="{{ form.username.id_for_label }}">Адрес электронной почты:</label>
                                        <p>{{ form.email }}</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="alert text-center">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {% if "error" in message.tags %}
                                                        <div class="alert-danger">{{ message }}</div>
                                                    {% endif %}
                                                    {% if "success" in message.tags %}
                                                        <div class="alert-success" >{{ message }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-form">
                                    <input type="submit" value="Оправить письмо" class="btn btn-default pull-right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <br><br><br><br><br>
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- //Main Container -->
