{% extends 'base_entry.html' %}
{% load static %}

<!-- Favicon
============================================ -->
{% block favicon %}
<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
{% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link id="color_scheme" href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
<div class="main-container container">
    <ul class="header-main ">
        <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>Войти</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="page-login">

                <div class="account-border">
                    <div class="row">
                        <div class="col-sm-6 new-customer">
                            <div class="well">
                                <h2><i class="fa fa-file-o" aria-hidden="true"></i>Новый клиент</h2>
                                <p>Создав учетную запись, вы сможете совершать покупки быстрее, быть в курсе статуса заказа и отслеживать ранее сделанные заказы.</p>
                            </div>
                            <div class="bottom-form">
                                <a href="{% url 'users:register' %}" class="btn btn-default pull-right">Регистрация</a>
                            </div>
                        </div>
                        <form action="{% url 'users:login' %}" method="post">
                            <div class="col-sm-6 customer-login">
                                <div class="well">
                                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i>Постоянный покупатель</h2>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label" for="{{ form.username.id_for_label }}">Логин:</label>
                                        <p>{{ form.username }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="{{ form.password.id_for_label }}">Пароль:</label>
                                        <p>{{ form.password }}</p>
                                        <div class="alert">
                                            {% if messages or message_error %}
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert-success" >{{ message }}</div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="alert-danger">{{ message_error }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-form">
                                    <a href="#" class="forgot">Забыли пароль ?</a>
                                    <input type="submit" value="Войти" class="btn btn-default pull-right">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- //Main Container -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
{% endblock %}