{% extends 'base_entry.html' %}
{% load static %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}"  rel="stylesheet" id="color_scheme">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
<div class="main-container container">
    <ul class="header-main">
        <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>Регистрация аккаунта</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">

            <h3 class="title"> </h3>

                <p>Если вы уже зарегистрированы, пожалуйста, <b><a href="{% url 'users:login_user' %}">войдите в свою учетную запись</a>.</b></p>
            <br><br>
        <!-- Message about successful registration -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-success" >{{ message }}</div>
                {% endfor %}
            {% endif %}
        <!-- //Message about successful registration -->
            <form action="{% url 'users:register' %}" method="post" novalidate style="margin-left: 20px; width:630px;">
                {% csrf_token %}
                <div class="form-group required" style="display: none">
                    <label class="control-label" for="{{ form.username.id_for_label }}" > Имя пользователя </label>
                    {{ form.username.as_hidden }}
                </div>
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.first_name.id_for_label }}" > Имя </label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.first_name.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.last_name.id_for_label }}" > Фамилия </label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.last_name.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group optional" >
                    <label class="optional-field" for="{{ form.surname.id_for_label }}" > Отчество </label>
                    {{ form.surname }}
                </div>
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.email.id_for_label }}" > Электронная почта </label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.email.errors }} </strong>
                    </div>
                    {% endif %}
                </div>

                <!-- New code block for new form fields -->
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.phone.id_for_label }}" > Номер телефона </label>
                    {{ form.phone }}
                    {% if form.phone.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.phone.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.birthday.id_for_label }}" > День рождения </label>
                    {{ form.birthday }}
                    {% if form.birthday.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.birthday.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.gender.id_for_label }}" > Пол </label>
                    {{ form.gender }}
                    {% if form.gender.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.gender.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group required" >
                    <label class="control-label" for="{{ form.address.id_for_label }}" > Адрес </label>
                    {{ form.address }}
                    {% if form.address.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.address.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <!-- //New code block for new form fields -->
                <div class="form-group required">
                    <label class="control-label" for="{{ form.password1.id_for_label }}" > Пароль </label>
                {{ form.password1 }}
                </div>
                <div class="form-group required">
                    <label class="control-label" for="{{ form.password2.id_for_label }}" > Подтвержение пароля </label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                    <div class="alert-danger">
                        <strong> {{ form.password2.errors }} </strong>
                    </div>
                    {% endif %}
                </div>
                <br><br>
                <div class="buttons">
                    <div class="pull-right">
                        <input type="submit" value="Зарегестрироваться" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- //Main Container -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
{% endblock %}