.dropZone1 {
    display: block;
    color: #555;
    font-size: 12px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 10px auto;

    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0;

}

.dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

.dropZone.error {
    background: #faa;
    border-color: #f00;
}

.dropZone.drop {
    background: #afa;
    border-color: #0f0;
}

.dropZone{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dropZone:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.dropZone::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.dropZone:-ms-input-placeholder {
  color: #999;
}
.dropZone::-webkit-input-placeholder {
  color: #999;
}
.dropZone[disabled],
.dropZone[readonly],
fieldset[disabled] .dropZone {
  background-color: #eee;
  opacity: 1;
}
.dropZone[disabled],
fieldset[disabled] .dropZone {
  cursor: not-allowed;
}
textarea.dropZone {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}

