{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

<!-- Basic page needs
============================================ -->
{#<title>Дипломный проект - Интернет магазин программного обеспечения</title>#}
<title>{{ title_base }}</title>
<meta charset="utf-8">

<!-- Mobile specific metas
============================================ -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicon
============================================ -->
{% block favicon %} {% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %} {% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %} {% endblock %}

</head>

{% block stile_body_two_line %} {% endblock %}

<!-- Header Container  -->
<header id="header" class=" variantleft type_1">
            <!-- Header Top -->
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-6 compact-hidden">
							<div class="tabBlock1" id="TabBlock-1">
								<ul class="top-link list-inline">
									<li class="signin"><a href="#" class="top-link-checkout" title="Sign In"><span>Войти</span></a></li>
									<li class="register"><a href="#" title="Register"><span>Регистрация</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Header Top -->
			<!-- Header center -->
			<div class="header-center left">
				<div class="container">
					<div class="row">
						<!-- Logo -->
						<div class="navbar-logo col-md-3 col-sm-12 col-xs-7">
							<a href="{% url 'index' %}"><img src="{% static 'img/logotip.jpg' %}" title="Логотип магазина" alt="Логотип магазина"></a>
						</div>
						<!-- //Logo -->
						<!-- Search -->
						<div id="sosearchpro" class="col-xs-12 col-sm-8 col-md-5 search-pro">
							<form method="GET" action="{% url 'index' %}">
								<div id="search0" class="search input-group">
									<input class="autosearch-input form-control" type="text" value="" size="60" autocomplete="off" placeholder="Поиск програмного обеспечения ... " name="search">
									<span class="input-group-btn">
										<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
						<!-- //Search -->
						<!-- Secondary menu -->
						<div class="col-md-4 col-sm-4 col-xs-5 shopping_cart pull-right">
							<!--cart-->
							<div id="cart" class=" btn-group btn-shopping-cart">
								<a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
									<div class="shopcart">
										<span class="handle pull-left"></span>
										<span class="number-shopping-cart"> 0 </span>
										<span class="title">Моя Корзина</span>
										<p class="text-shopping-cart cart-total-full"> 0.00 ₽ </p>
									</div>
								</a>
							</div>
							<!--//cart-->
						</div>
					</div>
				</div>
			</div>
            <!-- //Header center -->
			<!-- Header Bottom -->
			<div class="header-bottom">
				<div class="container">
					<div class="row">
						<!-- Main menu -->
						<div class="megamenu-hori header-bottom-right  col-md-12 col-sm-12 col-xs-12 ">
							<div class="responsive so-megamenu ">
								<nav class="navbar-default">
									<div class=" container-megamenu  horizontal">
										<div class="navbar-header">
											<button   id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>
										<div class="megamenu-wrapper">
											<span id="remove-megamenu" class="fa fa-times"></span>
											<div class="megamenu-pattern">
												<div class="container">
													<ul class="megamenu " data-transition="slide" data-animationtime="250">
														<li class="home hover">
															<p class="close-menu"></p>
															<a href="{% url 'index' %}" class="menu1"> Главная </a>
														</li>
															<div class="sub-menu" style="width: 100%; right: 0px; display: none;">
																<div class="content" style="height: 288px; display: none;">
																	<div class="row">
																		<div class="col-md-3">
																			<div class="column">
																				<a href="#" class="title-submenu">Listing pages</a>
																				<div>
																					<ul class="row-list">
																						<li><a href="category.html">Category Page 1 </a></li>
																						<li><a href="category-v2.html">Category Page 2</a></li>
																						<li><a href="category-v3.html">Category Page 3</a></li>
																					</ul>

																				</div>
																			</div>
																		</div>
																		<div class="col-md-3">
																			<div class="column">
																				<a href="#" class="title-submenu">Product pages</a>
																				<div>
																					<ul class="row-list">
																						<li><a href="product.html">Image size - big</a></li>
																						<li><a href="product-v2.html">Image size - medium</a></li>
																						<li><a href="product-v3.html">Image size - small</a></li>
																					</ul>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-3">
																			<div class="column">
																				<a href="#" class="title-submenu">Shopping pages</a>
																				<div>
																					<ul class="row-list">
																						<li><a href="cart.html">Shopping Cart Page</a></li>
																						<li><a href="checkout.html">Checkout Page</a></li>
																						<li><a href="compare.html">Compare Page</a></li>
																						<li><a href="wishlist.html">Wishlist Page</a></li>

																					</ul>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-3">
																			<div class="column">
																				<a href="#" class="title-submenu">My Account pages</a>
																				<div>
																					<ul class="row-list">
																						<li><a href="login.html">Login Page</a></li>
																						<li><a href="register.html">Register Page</a></li>
																						<li><a href="my-account.html">My Account</a></li>
																						<li><a href="order-history.html">Order History</a></li>
																						<li><a href="order-information.html">Order Information</a></li>
																						<li><a href="return.html">Product Returns</a></li>
																						<li><a href="gift-voucher.html">Gift Voucher</a></li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<li class="with-sub-menu hover">
															<p class="close-menu"></p>
															<a href="#" class="clearfix menu1">
																<strong>Категории</strong>
																<span class="label"></span>
															</a>
															<div class="sub-menu" style="width: 100%; right: 0px; display: none;">
																<div class="content" style="height: 398px; display: none;">
																	<div class="row">
																		<div class="col-sm-12">
																			<div class="row">
																				<div class="col-md-3 img img1">
																					<a href="#"><img src="{% static 'img/product_categories/product_categories1.jpg' %}" alt="категория №1"></a>
																				</div>
																				<div class="col-md-3 img img2">
																					<a href="#"><img src="{% static 'img/product_categories/product_categories2.jpg' %}" alt="категория №2"></a>
																				</div>
																				<div class="col-md-3 img img3">
																					<a href="#"><img src="{% static 'img/product_categories/product_categories3.jpg' %}" alt="категория №3"></a>
																				</div>
																				<div class="col-md-3 img img4">
																					<a href="#"><img src="{% static 'img/product_categories/product_categories4.jpg' %}" alt="категория №4"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-md-3">
																			<a href="#" class="title-submenu">Операционные системы</a>
																			<div class="row">
																				<div class="col-md-12 hover-menu">
																					<div class="menu">
																						<ul>
																							<li><a href="#" class="main-menu">Windows</a></li>
																							<li><a href="#" class="main-menu">Linux</a></li>
																							<li><a href="#" class="main-menu">Mac OS</a></li>
																						</ul>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-3">
																			<a href="#" class="title-submenu">Офисное ПО</a>
																			<div class="row">
																				<div class="col-md-12 hover-menu">
																					<div class="menu">
																						<ul>
																							<li><a href="#" class="main-menu">Microsoft Office</a></li>
																							<li><a href="#" class="main-menu">OpenOffice</a></li>
																							<li><a href="#" class="main-menu">LibreOffice</a></li>
																						</ul>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-3">
																			<a href="#" class="title-submenu">Игры</a>
																			<div class="row">
																				<div class="col-md-12 hover-menu">
																					<div class="menu">
																						<ul>
																							<li><a href="#" class="main-menu">Шутеры</a></li>
																							<li><a href="#" class="main-menu">Стратегии</a></li>
																							<li><a href="#" class="main-menu">RPG</a></li>
																						</ul>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-3">
																			<a href="#" class="title-submenu">Анитивирусная защита</a>
																			<div class="row">
																				<div class="col-md-12 hover-menu">
																					<div class="menu">
																						<ul>
																							<li><a href="#" class="main-menu">Антивирус Касперского</a></li>
																							<li><a href="#" class="main-menu">Доктор Веб</a></li>
																						</ul>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</nav>
							</div>
						</div>
                        <!-- //Main menu -->
                    </div>
				</div>
			</div>
		</header>
<!-- //Header Container  -->

<!-- Block Spotlight1  -->
{% block spotlight1 %} {% endblock %}
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
{% block main_container %} {% endblock %}
<!-- //Main Container -->

<!-- Block Spotlight3  -->
{% block spotlight3 %} {% endblock %}
<!-- //Block Spotlight3  -->

<!-- Footer Container -->
<footer class="footer-container type_footer1">
    <!-- Footer Top Container -->
	<section class="footer-top">
		<div class="container content">
			<div class="">
				<div class=" collapsed-block ">
					<div class="module clearfix">
						<h3 class="modtitle"> Наши контакты: </h3>
						<div class="modcontent">
							<ul class="contact-address">
								<li><p><span class="fa fa-map-marker"> </span><span>Наш адрес : </span> --- </p></li>
								<li><p><span class="fa fa-envelope-o"> </span><span>Email : </span> --- </p></li>
								<li><p><span class="fa fa-phone"> </span><span>Телефон : </span> --- </p></li>
							</ul>
						</div>
					</div>
				</div>
				<div class=" box-information">
					<div class="module clearfix">
						<h3 class="modtitle">Информация:</h3>
						<div class="modcontent">
							<ul class="menu">
								<li><a href="{% url 'faq' %}">Полезная информация</a></li>
                                <li><a href="{% url 'about_us' %}">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class=" box-extras">
					<div class="module clearfix">
						<h3 class="modtitle">Дополнительно</h3>
						<div class="modcontent">
							<ul class="menu">
								<li><a href="{% url 'about_us' %}">Наши контакты</a></li>
								<li><a href="{% url 'sitemap' %}">Карта сайта</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
<!-- //Footer Container -->

</div>
<!-- Include Libs & Plugins
============================================ -->
<!-- End of the document so the pages load faster -->
{% block libs_and_plugins %} {% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %} {% endblock %}
</body>
</html>