{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

<!-- Basic page needs
============================================ -->
<title>{{ page_title }}</title>
<meta charset="utf-8">

<!-- Mobile specific metas
============================================ -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicon
============================================ -->
{% block favicon %} {% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %} {% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %} {% endblock %}

</head>

{% block stile_body_two_line %} {% endblock %}

<!-- Header Container  -->
        <header id="header" class=" variantleft type_1">
            <!-- Header Top -->
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-6 compact-hidden">
							<div class="tabBlock1" id="TabBlock-1">
								<ul class="top-link list-inline">
                                    {% if user.is_authenticated %}
                                        <li class="account"><a href="{% url 'users:my_account' %}" class="top-link-checkout" title="Личный кабиинет"><span>Личный кабинет</span></a></li>
                                        <li class="signin"><a href="{% url 'users:exit_my_account' %}" class="top-link-checkout" title="Выйти"><span>Выйти</span></a></li>
                                    {% else %}
                                        <li class="signin"><a href="{% url 'users:login' %}" class="top-link-checkout" title="Войти"><span>Войти</span></a></li>
                                        <li class="register"><a href="{% url 'users:register' %}" title="Регистрация"><span> Регистрация </span></a></li>
                                    {% endif %}

                                    {% if user.is_superuser %}
                                        <li class="signin"><a href="{% url 'admin:index' %}" class="top-link-checkout" title="Панель-администратора"><span>Войти в панель-администратора</span></a></li>
                                    {% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Header Top -->
			<!-- Header center -->
			<div class="header-center left">
				<div class="container">
					<div class="row">
						<!-- Logo -->
						<div class="navbar-logo col-md-3 col-sm-12 col-xs-7">
							<a href="{% url 'index' %}"><img src="{% static 'img/logotip.jpg' %}" title="Логотип магазина" alt="Логотип магазина"></a>
						</div>
						<!-- //Logo -->
						<!-- Search -->
						<div id="sosearchpro" class="col-xs-12 col-sm-8 col-md-5 search-pro">
							<form method="GET" action="{% url 'index' %}">
								<div id="search0" class="search input-group">
									<input class="autosearch-input form-control" type="text" value="" size="60" autocomplete="off" placeholder="Поиск програмного обеспечения ... " name="search">
									<span class="input-group-btn">
										<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
						<!-- //Search -->
						<!-- Secondary menu -->
						<div class="col-md-4 col-sm-4 col-xs-5 shopping_cart pull-right">
                            <!--cart-->
                            {% include 'mobile_cart.html' %}
						    <!--//cart-->
						</div>
					</div>
				</div>
			</div>
            <!-- //Header center -->
			<!-- Header Bottom -->
			<div class="header-bottom">
				<div class="container">
					<div class="row">
						<!-- Main menu -->
						<div class="megamenu-hori header-bottom-right  col-md-12 col-sm-12 col-xs-12 ">
							<div class="responsive so-megamenu ">
								<nav class="navbar-default">
									<div class=" container-megamenu  horizontal">
										<div class="megamenu-wrapper">
											<div class="megamenu-pattern">
												<div class="container">
													<ul class="megamenu">
                                                        <li class="home hover">
															<p class="close-menu"></p>
															<a href="{% url 'index' %}" class="menu1">Главная</a>
														</li>
														<li class="with-sub-menu hover">
															<p class="close-menu"></p>
															<a href="{% url 'products_catalog:index' %}" class="clearfix menu1">
																<strong>Каталог</strong>
																<span class="label"></span>
															</a>
															<div class="sub-menu" style="left: 0px;">
																<div class="content">
																	<div class="row">
                                                                        {% for one_software_category in software_category %}
                                                                            <div class="col-md-4 image">
                                                                                <a href="{% url 'products_catalog:index' %}"><img src="{{ one_software_category.image.url }}"></a>
                                                                                <div class="center title-submenu"></div>
                                                                                <a href="{% url 'products_catalog:index' %}"> <div class="text-center"> <h3> <strong> {{ one_software_category.name }} </strong> </h3> </div> </a>
                                                                            </div>
                                                                        {% endfor %}
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</nav>
							</div>
						</div>
                        <!-- //Main menu -->
                    </div>
				</div>
			</div>
		</header>
<!-- //Header Container  -->

<!-- Block Spotlight1  -->
{% block spotlight1 %} {% endblock %}
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
{% block main_container %} {% endblock %}
<!-- //Main Container -->

<!-- Block Spotlight3  -->
{% block spotlight3 %} {% endblock %}
<!-- //Block Spotlight3  -->

<!-- Footer Container -->
<footer class="footer-container type_footer1">
    <!-- Footer Top Container -->
	<section class="footer-top">
		<div class="container content">
                <div class="box-information">
					<div class="module clearfix">
						<h3 class="modtitle">Наши контакты</h3>
						<div class="modcontent">
							<ul class="menu">
                                <li><a href="{% url 'about_us' %}">О нас / Наши контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class=" box-information">
					<div class="module clearfix">
						<h3 class="modtitle">Информация</h3>
						<div class="modcontent">
							<ul class="menu">
								<li><a href="{% url 'faq' %}">Полезная информация</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="box-information">
					<div class="module clearfix">
						<h3 class="modtitle">Дополнительно</h3>
						<div class="modcontent">
							<ul class="menu">
								<li><a href="{% url 'sitemap' %}">Карта сайта</a></li>
							</ul>
						</div>
					</div>
				</div>
                <div>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
                </div>
                </div>
        </section>
    </footer>
<!-- //Footer Container -->
</div>

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %} {% endblock %}

<!-- Theme file
============================================ -->
{% block theme_files %} {% endblock %}
</body>
</html>