{% extends 'base.html' %}
{% load static %}


<!-- Favicon
============================================ -->
{% block favicon %}
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
{% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/lib.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/themecss/cpanel.css' %}" rel='stylesheet'  type='text/css' media='all' />
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-categories.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link id="color_scheme" href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Main Container  -->
{% block main_container %}
<div class="main-container container">
    <ul class="header-main ">
        <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>Корзина</li>
    </ul>
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <p>
                <br>
                <br>
                <br>
            </p>
            <div class="table-responsive form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-center">Фото</td>
                            <td class="text-left">Название</td>
                            <td class="text-left">Модель</td>
                            <td class="text-left">Количество</td>
                            <td class="text-right">Цена за единицу</td>
                            <td class="text-right">Общая стоимость</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><a href="product.html"><img width="70px" src="img/demo/shop/product/E3.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-thumbnail" /></a></td>
                            <td class="text-left"><a href="product.html">Emasa rumas gacem</a><br />
                            </td>
                            <td class="text-left">Pt 001</td>
                            <td class="text-left" width="200px"><div class="input-group btn-block quantity">
                                <input type="text" name="quantity" value="1" size="1" class="form-control" />
                                <span class="input-group-btn">
                                    <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-clone"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
                                </span></div></td>
                                <td class="text-right">$120.00</td>
                                <td class="text-right">$120.00</td>
                            </tr>
                            <tr>
                                <td class="text-center"><a href="product.html"><img width="70px" src="img/demo/shop/product/E1.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail" /></a></td>
                                <td class="text-left"><a href="product.html">Comas samer rumas</a></td>
                                <td class="text-left">Pt 002</td>
                                <td class="text-left" width="200px"><div class="input-group btn-block quantity">
                                    <input type="text" name="quantity" value="1" size="1" class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-clone"></i></button>
                                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
                                    </span></div></td>
                                    <td class="text-right">$150.00</td>
                                    <td class="text-right">$150.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 class="subtitle no-margin">Что вы хотели бы сделать дальше?</h3>
                    <p>Выберите, есть ли у вас код скидки или бонусные баллы, которые вы хотите использовать, или хотите оценить стоимость доставки.</p>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">Используйте код купона

                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-coupon" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <label class="col-sm-2 control-label" for="input-coupon">Введите ваш купон здесь</label>
                                    <div class="input-group">
                                        <input type="text" name="coupon" value="" placeholder="Введите ваш купон здесь" id="input-coupon" class="form-control">
                                        <span class="input-group-btn"><input type="button" value="Применить купон" id="button-coupon" data-loading-text="Loading..." class="btn btn-primary"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse-shipping" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Оценить доставку и налоги

                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-shipping" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p>Введите пункт назначения, чтобы рассчитать стоимость доставки.</p>
                                    <div class="form-horizontal">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-country">Страна</label>
                                            <div class="col-sm-10">
                                                <select name="country_id" id="input-country" class="form-control">
                                                    <option value=""> --- Выберите из списка --- </option>
                                                    <option value="244">Исландские Острова</option>
                                                    <option value="1">Афганистан</option>
                                                    <option value="2">Албания</option>
                                                    <option value="3">Россия</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-zone">Регион / Штат</label>
                                            <div class="col-sm-10">
                                                <select name="zone_id" id="input-zone" class="form-control">
                                                    <option value=""> --- Выберите из списка --- </option>
                                                    <option value="3513">Aberdeen</option>
                                                    <option value="3514">Aberdeenshire</option>
                                                    <option value="3515">Anglesey</option>
                                                    <option value="3516">Angus</option>
                                                    <option value="3517">Argyll and Bute</option>
                                                    <option value="3518">Bedfordshire</option>
                                                    <option value="3519">Berkshire</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-postcode">Почтовый индекс</label>
                                            <div class="col-sm-10"><input type="text" name="postcode" value="" placeholder="Почтовый индекс" id="input-postcode" class="form-control"></div>
                                        </div>
                                        <button type="button" id="button-quote" data-loading-text="Loading..." class="btn btn-primary">Получить скидку</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse-voucher" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed" aria-expanded="false">Использовать подарочный сертификат

                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-voucher" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <label class="col-sm-2 control-label" for="input-voucher">Введите код подарочного сертификата здесь</label>
                                    <div class="input-group">
                                        <input type="text" name="voucher" value="" placeholder="Введите код подарочного сертификата здесь" id="input-voucher" class="form-control">
                                        <span class="input-group-btn"><input type="submit" value="Применить подарочный сертификат" id="button-voucher" data-loading-text="Loading..." class="btn btn-primary"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-8">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Промежуточный итог:</strong>
                                        </td>
                                        <td class="text-right">$168.71</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Стоимость доставки:</strong>
                                        </td>
                                        <td class="text-right">$4.69</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>НДС (20%):</strong>
                                        </td>
                                        <td class="text-right">$34.68</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Итого:</strong>
                                        </td>
                                        <td class="text-right">$213.70</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="buttons">
                        <div class="pull-left"><a href="index.html" class="btn btn-primary">Продолжить покупки</a></div>
                        <div class="pull-right"><a href="checkout.html" class="btn btn-primary">Проверить</a></div>
                    </div>
                </div>
                <!--Middle Part End -->

            </div>
        </div>
{% endblock %}
        <!-- //Main Container -->
				
<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/libs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/unveil/jquery.unveil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
<script type="text/javascript" src="{% static 'js/themejs/so_megamenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/addtocart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/application.js' %}"></script>
{% endblock %}