{% extends 'base.html' %}
{% load static %}


<!-- Favicon
============================================ -->
{% block favicon %}
<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
{% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/lib.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-categories.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-newletter-popup.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/just_purchased_notification.css' %}" rel=stylesheet>
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link id="color_scheme" href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block stile_body_two_line %}
    <body class="common-home res layout-home1">
        <div id="wrapper" class="wrapper-full banners-effect-7">
{% endblock %}

<!-- Block Spotlight1  -->
{% block spotlight1 %}
            <section class="so-spotlight1 ">
                <div class="container">
                    <div class="row">
                        <div class="sidebar-menu col-md-3 col-sm-12 hidden-xs ">
                            <div class="responsive so-megamenu ">
                                <div class="so-vertical-menu no-gutter compact-hidden">
                                    <nav class="navbar-default">
                                        <div class="container-megamenu vertical open">
                                            <div id="menuHeading-1">
                                                <div class="megamenuToogle-wrapper">
                                                    <div class="megamenuToogle-pattern">
                                                        <div class="container">
                                                            <div>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div> КАТЕГОРИИ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-wrapper" style="display: block;">
                                                <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container">
                                                        <ul class="megamenu">
                                                            {% for one_category in software_category %}
                                                            <li> <a href="{% url 'product_catalog:index' %}" class="clearfix"> <span>  {{ one_category.name }} </span> </a> </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--//Слайдер с 2-мя картинками main_index_picture1.jpg-->
                        <div id="yt_header_right" class="col-sm-12 col-md-9 col-lg-9 ">
                            <div class="slider-container ">
                                <div class="owl-carousel owl-slider-1 owl" data-dots="yes" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="1" data-items_md="1" data-margin="0" >
                                    <div class="img-slider">
                                        <a href="#"><img src="{% static 'img/index/main_index_picture1.jpg' %}" alt="картинка №1"></a>
                                    </div>
                                    <div class="img-slider">
                                        <a href="#"><img src="{% static 'img/index/main_index_picture2.jpg' %}" alt="картинка №2"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
{% block main_container %}
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
{% endblock %}
<!-- //Main Container -->

<!-- Block Spotlight3  -->
{% block spotlight3 %}
<!-- может сюда еще что то и добавим -->
{% endblock %}
<!-- //Block Spotlight3  -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/libs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/unveil/jquery.unveil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr/modernizr-2.6.2.min.js' %}"></script>
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
<script type="text/javascript" src="{% static 'js/themejs/application.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/homepage.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/so_megamenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/addtocart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/pathLoader.js' %}"></script>
{% endblock %}