{% extends 'base.html' %}
{% load static %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}"  rel="stylesheet" id="color_scheme">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage banners-effect-7">
	    <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Block Spotlight1  -->
{% block spotlight1 %}
{% endblock %}
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
{% block main_container %}
	<div class="main-container container">
			<ul class="header-main type-1">
				<li class="home"><a href="{% url 'index' %}">Главная<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li class="home"><a href="{% url 'products_catalog:index' %}">Каталог <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li class="home"><a href="{% url 'products_catalog:category' software_category_id%}">{{ software_category_name }}<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li class="home"><a href="#">{{ software_name }}</a></li>
			</ul>
			<div class="row">
				<!--Middle Part Start-->
				<div id="content" class="col-md-12 col-sm-12 type-1">
					<div class="product-view row">
						<div class="left-content-product col-lg-9 col-xs-12">
							<div class="row">
								<div class="content-product-left class-honizol col-md-6 col-sm-12 col-xs-12 ">
									<div class="img">
                                        <style> .frame {
                                            border: 1px solid #dce0e0;
                                            border-radius: 5px; }
                                        </style>
										<img src="{{ software_image }}" alt="{{ software_name }}" class="frame" style="margin-left: 50px;">
                                    </div>
								</div>
								<div class="content-product-right col-md-6 col-sm-12 col-xs-12">
									<div class="title-product">
										<h1>{{ software_name }}</h1>
									</div>
									<!-- Review -->
                                    <br>
									<div class="product-box-desc">
										<ul>
                                            <br>
											<li> Видеокарта: {{ software_description_video_card }}</li>
                                            <br>
                                            <li> Объем оперативной памяти, Мб: {{ software_description_min_ram_mb }}</li>
                                            <br>
											<li> Объем памяти на жестком диске, Мб: {{ software_description_hard_disk_mb }}</li>
                                            <br>
											<li> Операционная система: <br> {{software_description_operating_system}}</li>
                                            <br>
										</ul>
									</div>
									<div class="product-label form-group">
										<div class="stock">
											<span>Количество лицензий:</span> {{ software_quantity }}
											<p></p>
										</div>
										<div class="product_page_price price" itemprop="offerDetails" >
											<span class="price" itemprop="price">  Цена: {{ software_price }} ₽  </span>
										</div>
									</div>
									<div id="product">
										<div class="form-group box-info-product">
											<div class="info-product-left">
                                                <div class="button-group">
                                                    <a class="addToCart btn btn-default"
                                                       href="{% url "products_catalog:cart_add_one" software_id %}">
                                                        Добавить в корзину
                                                    </a>
                                                </div>
											</div>
										</div>
                                        <div class="alert text-center">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert-danger"> <strong> {{ message }} </strong></div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
									</div>
									<!-- end box info product -->
								</div>
                            </div>
								<div class="row">
									<div class="col-sx-12">
										<div class="producttab ">
											<div class="tabsslider  col-xs-12">
												<ul class="nav nav-tabs">
													<li class="active"><a data-toggle="tab" href="#tab-1">Описание: </a></li>
												</ul>
												<div class="tab-content col-xs-12">
													<div id="tab-1" class="tab-pane fade active in">
														<p>
                                                            <br>
                                                            {{ software_description }}
                                                            <br>
														</p>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <br>
                            <br>
                            </div>
                        </div>
                    </div>
                </div>
							<!--Middle Part End-->
						</div>
{% endblock %}
<!-- //Main Container -->

<!-- Block Spotlight3  -->
{% block spotlight3 %}
{% endblock %}
<!-- //Block Spotlight3  -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
    <script type="text/javascript" src="{% static 'js/themejs/so_megamenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/themejs/application.js' %}"></script>
{% endblock %}
