{% extends 'base.html' %}
{% load static %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'js/owl-carousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/lib.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-categories.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
<link id="color_scheme" href="{% static 'css/theme.css' %}" rel="stylesheet">
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage banners-effect-7">
	    <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Block Spotlight1  -->
{% block spotlight1 %}
{% endblock %}
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
{% block main_container %}
	<div class="main-container container">
			<ul class="header-main type-1">
				<li class="home"><a href="{% url 'index' %}">Главная<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li class="home"><a href="{% url 'products_catalog:index' %}">Каталог <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li class="home"><a href="{% url 'products_catalog:category' software_category_id%}">{{ software_category_name }}<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li class="home"><a href="#">{{ software_name }}</a></li>
			</ul>
			<div class="row">
				<!--Middle Part Start-->
				<div id="content " class="col-md-12 col-sm-12 type-1">
					<div class="product-view row">
						<div class="left-content-product col-lg-9 col-xs-12">
							<div class="row">
								<div class="content-product-left class-honizol col-md-6 col-sm-12 col-xs-12 ">
									<div class="large-image  ">
										<img itemprop="image" class="product-image-zoom" src="{{ software_image }}" data-zoom-image={{ software_image }} title={{ software_name }} alt={{ software_name }}>
									</div>
								</div>
								<div class="content-product-right col-md-6 col-sm-12 col-xs-12">
									<div class="title-product">
										<h1>{{ software_name }}</h1>
									</div>
									<!-- Review -->
									<div class="box-review form-group">
										<div class="ratings">
{#											<div class="rating-box">#}
{#												<i class="fa fa-star"></i>#}
{#												<i class="fa fa-star"></i>#}
{#												<i class="fa fa-star"></i>#}
{#												<i class="fa fa-star"></i>#}
{#												<i class="fa fa-star gray"></i>#}
{#											</div>#}
										</div>
									</div>
									<div class="product-box-desc">
										<ul>
											<li>Описание 1</li>
											<li>Описание 2</li>
											<li>Описание 3</li>
											<li>Описание 4</li>
										</ul>
									</div>
									<div class="product-label form-group">
										<div class="stock">
											<span>Availability:</span> <span class="instock">{{ software_quantity }}</span>
											<p></p>
										</div>
										<div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<span class="price-new" itemprop="price">{{ software_price }}</span>
											<span class="price-old">Старая цена</span>
										</div>
									</div>
									<div id="product">
										<div class="form-group box-info-product">
											<div class="option quantity">
												<div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
													<label>Qty:  </label>
													<input class="form-control" type="text" name="quantity" value="1">
													<input type="hidden" name="product_id" value="50">
													<span class="input-group-addon product_quantity_down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
													<span class="input-group-addon product_quantity_up"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
												</div>
											</div>
											<div class="info-product-right">
{#												<div class="cart">           #}
{#													<input type="button" data-toggle="tooltip" title="" value="В корзину" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('42', '1');" data-original-title="В корзину"> #}
{#												</div> #}
                                                <div class="button-group">
                                                    <a class="addToCart btn btn-default"
                                                       href="{% url "products_catalog:cart_add_one" software_id %}">
                                                        В корзину
                                                    </a>
                                                </div>
{#												<div class="add-to-links wish_comp">#}
{#													<ul class="blank list-inline">#}
{#														<li class="wishlist">#}
{#															<a class="icon" data-toggle="tooltip" title="" onclick="wishlist.add('50');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>#}
{#															</a>#}
{#														</li>#}
{#														<li class="compare">#}
{#															<a class="icon" data-toggle="tooltip" title="" onclick="compare.add('50');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i>#}
{#															</a>#}
{#														</li>#}
{#													</ul>#}
{#												</div>#}
											</div>
										</div>
									</div>
									<!-- end box info product -->
								</div>
                            </div>
								<div class="row">
									<div class="col-sx-12">
										<div class="producttab ">
											<div class="tabsslider  col-xs-12">
												<ul class="nav nav-tabs">
													<li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>
													<li class="item_nonactive "><a data-toggle="tab" href="#tab-review">Reviews (1)</a></li>
												</ul>
												<div class="tab-content col-xs-12">
													<div id="tab-1" class="tab-pane fade active in">
														<p>
															Descr_1. <br>
															<br>
															Descr_2. <br>
															<br>
															Descr_3. <br>
															<br>
															Descr_4. <br>
															<br>
															Descr_5.<br>
														</p>
													</div>
													<div id="tab-review" class="tab-pane fade  in">
														<form>
															<div id="review">
																<table class="table table-striped table-bordered">
																	<tbody>
																		<tr>
																			<td style="width: 50%;"><strong>Super Administrator</strong></td>
																			<td class="text-right">29/07/2015</td>
																		</tr>
																		<tr>
																			<td colspan="2">
																				<p>Best this product opencart</p>
{#																				<div class="ratings">#}
{#																					<div class="rating-box">#}
{#																						<i class="fa fa-star"></i>#}
{#																						<i class="fa fa-star"></i>#}
{#																						<i class="fa fa-star"></i>#}
{#																						<i class="fa fa-star"></i>#}
{#																						<i class="fa fa-star gray"></i>#}
{#																					</div>#}
{#																				</div>#}
																			</td>
																		</tr>
																	</tbody>
																</table>
																<div class="text-right"></div>
															</div>
															<h2 id="review-title">Write a review</h2>
															<div class="contacts-form">
																<div class="form-group"> <span class="icon icon-user"></span>
																	<input type="text" name="name" class="form-control" value="Your Name" onblur="if (this.value == '') {this.value = 'Your Name';}" onfocus="if(this.value == 'Your Name') {this.value = '';}">
																</div>
																<div class="form-group"> <span class="icon icon-bubbles-2"></span>
																	<textarea class="form-control" name="text" onblur="if (this.value == '') {this.value = 'Your Review';}" onfocus="if(this.value == 'Your Review') {this.value = '';}">Your Review</textarea>
																</div>

{#																<span style="font-size: 11px;"><span class="text-danger">Важно:</span>						HTML не переводится!</span>#}
{##}
{#																<div class="form-group">#}
{#																	<b>Rating</b> <span>Bad</span>&nbsp;#}
{#																	<input type="radio" name="rating" value="1"> &nbsp;#}
{#																	<input type="radio" name="rating" value="2"> &nbsp;#}
{#																	<input type="radio" name="rating" value="3"> &nbsp;#}
{#																	<input type="radio" name="rating" value="4"> &nbsp;#}
{#																	<input type="radio" name="rating" value="5"> &nbsp;<span>Good</span>#}
{##}
{#																</div>#}

                                                                <div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Continue</a></div>
															</div>
														</form>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
										<section class="col-lg-3 hidden-sm hidden-md hidden-xs slider-products">
											<div class="module latest-product titleLine">
												<h3 class="modtitle">Ранее просмотренные</h3>
												<hr>
												<hr>
												<hr>
											</div>
										</section>
									</div>
									<!-- Related Products -->
									<div class="related-product ">
										<h3 class="modtitle">Похожие продукты  </h3>
										<hr>
										<hr>
										<hr>
									</div>
									<!-- end Related  Products-->
								</div>
							</div>
							<!--Middle Part End-->
						</div>
{% endblock %}
<!-- //Main Container -->

<!-- Block Spotlight3  -->
{% block spotlight3 %}
{% endblock %}
<!-- //Block Spotlight3  -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/libs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/unveil/jquery.unveil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
<script type="text/javascript" src="{% static 'js/themejs/so_megamenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/addtocart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/themejs/application.js' %}"></script>
{% endblock %}