{% extends 'base.html' %}
{% load static %}

<!-- Favicon
============================================ -->
{% block favicon %}
<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
{% endblock %}

<!-- Libs CSS
============================================ -->
{% block libs_css %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock %}

<!-- Theme CSS
============================================ -->
{% block theme_css %}
<link href="{% static 'css/footer1.css' %}" rel="stylesheet">
<link href="{% static 'css/header1.css' %}" rel="stylesheet">
<link href="{% static 'css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.css' %}"  rel="stylesheet" id="color_scheme">
{% endblock %}

{% block stile_body_two_line %}
    <body class="res layout-subpage">
        <div id="wrapper" class="wrapper-full ">
{% endblock %}

<!-- Block Spotlight1  -->
{% block spotlight1 %}
{% endblock %}
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
{% block main_container %}
            <div class="main-container container">
                <ul class="header-main ">
                    <li class="home"><a href="{% url 'index' %}">Главная</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
                <br><br>
                <br><br><br><br>
                <div class="row">
                    <div id="content" class="col-sm-12">
                        <br><br><br>
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <ul class="simple-list arrow-list bold-list">
                                    <li> <a href="{% url 'index' %}"> Главная </a> </li>
                                    <li> <a href="{% url 'products_catalog:index' %}"> Каталог </a>
                                        <ul class="sitemap">
                                        {% for one_category in software_category %}
                                            <li><a href="{% url 'products_catalog:category' one_category.id %}"> <span> {{ one_category.name }} </span> </a> </li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li> <a href="{% url 'users:my_account' %}"> Личный кабинет </a>
                                        <ul class="sitemap">
                                            <li><a href="{% url 'users:login' %}"> Вход </a> </li>
                                            <li><a href="{% url 'users:register' %}"> Регистрация </a> </li>
                                            <li><a href="{% url 'users:forgot_password' %}"> Забыл пароль </a> </li>
                                        </ul>
                                    </li>
                                    <li> <a href="{% url 'cart' %}"> Корзина </a> </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <ul class="simple-list arrow-list bold-list">
                                    <li> <strong>НАШИ КОНТАКТЫ</strong>
                                        <ul class="sitemap">
                                            <li><a href="{% url 'about_us' %}">О нас / Наши контакты</a> </li>
                                        </ul>
                                    </li>
                                    <li> <strong>ИНФОРМАЦИЯ</strong>
                                        <ul class="sitemap">
                                            <li><a href="{% url 'faq' %}">Полезная информация</a> </li>
                                        </ul>
                                    </li>
                                    <li> <strong>ДОПОЛНИТЕЛЬНО</strong>
                                        <ul class="sitemap">
                                            <li><a href="{% url 'sitemap' %}">Карта сайта</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>
                <br><br><br><br>
                <br><br><br><br>
            </div>
{% endblock %}
<!-- //Main Container -->

<!-- Block Spotlight3  -->
{% block spotlight3 %}
{% endblock %}
<!-- //Block Spotlight3  -->

<!-- Include Libs & Plugins
============================================ -->
{% block libs_and_plugins %}
{% endblock %}

<!-- Theme files
============================================ -->
{% block theme_files %}
{% endblock %}