/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

// $linkColor		: #0083c1;
$background		: $linkColor;
$background1		: $linkColor;
$colorView: red;
$base-url			:'../img/theme/color/blue/';
