/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

// $linkColor		: #eb9000;
$background		: $linkColor;
$background1		: $linkColor;
$colorView: red;
$base-url			:'../img/theme/color/orange/';
