/*******************************************************
  Style Color
********************************************************/
@import 'variables/theme_variables';

// $linkColor		: #ff5722;
$background		: $linkColor;
$background1		: $linkColor;
$colorView: red;

